<!-- <div class = "alert alert-warning">
  <%= flash.map {|name, message| "#{name}: #{message}"}.join("; ") %>
</div>
  protect_from_forgery with: :null_session -->


<div class = "home-back"></div>

<div class="icons">
  <div class="fly icons">
    <a href = "/selector"><img style="opacity:0.5" class="logo fadeinA" width="200" height="200"src ="/assets/fly_white.png">
  </div>

  <div class="time icons">
    <a href = "/selector"><img style="opacity:0.5" class="logo fadeinA" width="200" height="200"src ="/assets/time_white.png">
  </div>
  <div class="earth icons">
    <a href = "/selector"><img style="opacity:0.5" class="logo fadeinA" width="200" height="200"src ="/assets/earth_white.png">
  </div>
</div>









