/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  padding-top: 50px;
}

.noty_text {
  font-size: 20px;
  font-weight: normal;
}

.container {
  margin: 0 auto;

  .starter-template {
    padding: 40px, 15px;
    text-align: center;
  }
}


