/*
 *= require bootstrap-slider
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar-brand {
  font-size: 200%;
  font-weight: 900;

}

body {
  height: 100%;
  background-image: url(http://topwalls.net/wp-content/uploads/2013/05/Halong-Bay-Vietnam.jpg);
  background-size: 100%;
  color: #1110af;
  background-color: #1110af;
  margin-top: 140px;
  margin-left: 45px;
  background-repeat: no-repeat;
  background-height: 100%;
}

h1 {
  padding-left: 20px;
  padding-top: 10px;
}

h2 {
  padding-left: 20px;
  padding-top: 10px;
}

h3 {
  padding-left: 20px;
  padding-top: 10px;
}

p {
  padding-left: 20px;
}

.container {
  margin: 0 auto;
  position: relative;
  resize: auto;
}

.back-opaq {
  background-color: rgba(236, 236, 236, 0.3);
  position-top: 88px;
  width: 829px;
  // height: 520px;
  border-radius: 20px;
}

.results {
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.noty_text {
  font-size: 20px;
  font-weight: normal;
}

.icons {
  padding-top: 100px;
  padding-left: 100px;
  float: left;
  opacity:0.7;
}

.icons:hover {
    opacity: 10.5;
}

.slider-left {
  padding-top: 300px ;
}

#ex1Slider .slider-selection {
  background: #BABABA;
  opacity:  1.0;
}

.sliderfilter {
  padding-top: 50px;
  margin-left: 50px;
}

.tooltip-inner {
  color: red;
  font-size: 130%;
  background-color: #d5d5d5;
  font-weight: 900;
}

.rating {
  overflow: hidden;
  display: inline-block;
  padding-top: 30px;
  padding-left: 30px;
}

.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}

.rating-star {
  position: relative;
  float: right;
  display: block;
  width: 46px;
  height: 46px;
  background: url('star.png') 0 0;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background: url('star_filled.png') 0 0;
}

.selectorheader {
  padding-top: auto;
  padding-left: 20px;
  vertical-align: middle;
}

.btn-default {
  font-size:16px;
  font-family:Arial;
  font-weight:normal;
  -moz-border-radius:41px;
  -webkit-border-radius:41px;
  border-radius:41px;
  border:3px solid #dcdcdc;
  padding:6px 22px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #ededed 32%, #dfdfdf 73% );
  background:-ms-linear-gradient( top, #ededed 32%, #dfdfdf 73% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(32%, #ededed), color-stop(73%, #dfdfdf) );
  background-color:#ededed;
  color:#777777;
  display:inline-block;
  text-shadow:1px -2px 15px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px -13px #ffffff;
  -moz-box-shadow:inset 0px 0px 0px -13px #ffffff;
  box-shadow:inset 0px 0px 0px -13px #ffffff;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.btn-default:hover {
  background:-moz-linear-gradient( center top, #dfdfdf 32%, #ededed 73% );
  background:-ms-linear-gradient( top, #dfdfdf 32%, #ededed 73% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(32%, #dfdfdf), color-stop(73%, #ededed) );
  background-color:#dfdfdf;
}

.btn-default:active {
  position:relative;
  top:1px;
}

.hotel {
  color: #0d0872;
}

.profile {
  resize: auto;

}

.tbody{
  padding-left: 20px;
  padding-top: 10px;
}

.nav-right {
  color: white;
}


.break-type{
  margin-top: 57px;
  margin-left: 195px;
}

// .navbar-fixed-top{
//   background-color: #a0b6bf;
//   border-color: #a0b6bf;
// }

// .active {
//   background-color: #a0b6bf;
//   border-color: #a0b6bf;
// }

.itin {
  height: 150px;
}

.tooltip{
  top: 31px;
}














