
<div class = "opaq-result">
<h1>itinerary</h1>


<form id="itinerary" action="/itinerary" method="post">
  <input type="text" name="destination" placeholder="Destination" />

  <input type="text" name="starting" placeholder="Starting from" />

  <input type="text" name="rating" placeholder="Star Rating"/>

  <input type="text" name="date" placeholder="Date"/>

  <input type="text" name="hotel" placeholder="Hotel"/>

  <input type="text" name="tfo" placeholder="Time from Origin"/>

  <input type="submit" value="Submit" />

</form>

</div>