
<div class = "opaq-search"
<table>
<% @itineraries.each do |i| %>
  <ul>
    <li><tr class = "itin destination">
      <td><strong><u>TO: <%= i.destination %></strong></u></td>
    </tr></li>

    <li><tr class = "itin starting">
      <td>FROM: <%= i.starting%></td>
    </tr></li>

    <li><tr class = "itin rating">
      <td>RATING: <%= i.rating%></td>
    </tr></li>

   <!--  <li><tr class = "itin date">
      <td><%= i.date%></td>
    </tr></li> -->

    <li><tr class = "itin hotel" >
      <td>HOTEL: <%= i.hotel%></td>
    </tr></li>

    <li><tr class = "itin tfo" >
      <td>TIME FROM ORIGIN: <%= i.tfd%></td>
    </tr></li>
  </ul>

<% end %>
</table>

</div>