
<div class = "back-opaq">

<h1><u>Search Results:<u></h1>
  <div class = "results-opaq">
    <table class="results">
      <% @itineraries.each do |i| %>
        <tr class="itin">
          <td>
            <table>

              <tr class = "destination">
                <td><h3><strong><u><a href=<%= "#{i.cityurl}" %> >TO: <%= i.destination %></u></strong><h3></td>
              </tr>

              <tr class = "starting">
                <td>FROM: <%= i.starting%></td>
              </tr>

              <tr class = "star-rating">
                <td>RATING: <%= i.rating%> star</td>
              </tr>

              <tr class = "hotel" >
                <td><a href =<%= "#{i.hotelurl}"%>> <img class ="hotelpic" src=<%="#{i.hotelpicurl}"%> > HOTEL: <%= i.hotel%></a></td>
              </tr>

              <tr class = "tfo" >
                <td>TIME FROM ORIGIN: <%= i.tfd%></td>
              </tr>

            </table>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>